<article>
  <button type="submit" class="button is-success is-pulled-right"><a href="/dashboard" class="has-text-white">Return to Dashboard</a></button>
  <h2 class="title mt-5">Edit Comment</h2>
  <hr>
  <form class="edit-comment-form">
    <div>
      <label for="comment-content">Comment:</label>
      <textarea class="textarea" name="comment-content" type="text" value="{{comment.comment_text}}">{{comment.comment_text}}</textarea>
    </div>
    <button type="submit" class="button is-success save-comment-btn">Save Comment</button>
  </form>
</article>

{{> comments post.comments}}

<!-- javascript-->
<script src="/javascript/comment.js"></script>
<script src="/javascript/deletecomment.js"></script>
<script src="/javascript/editcomment.js"></script>